<h1>Update Song</h1>

<form action="/songs/<%=@song.id%>" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="song[name]" id="song_name" value="<%=@song.name%>">

  <br></br>

  <label>Choose an existing Genre:</label>

  <br></br>

  <%Genre.all.each do |genre|%>
    <input type="checkbox" name="song[song_genres][]" id="<%= genre.id%>" value="<%=genre.id%>" <%='checked' if @song.song_genres.include?(genre) %>><%=genre.name%></input>
  <%end%>

  <br></br>

  <label>and/or, create a new Artist:</label>
  <br></br>
  <label>name:</label>
    <input  type="text" name="artist[name]" id="artist_name"></input>
  <br></br>
  <input type="submit" value="Update Song">
</form>
